@import "../../utils/variables.scss";

.about-page {
  width: 100%;
  height: 92vh;
  position: relative;

  &__container {
    width: 80%;
    margin: auto;
    padding: 30px;
    padding-top: 50px;
    font-size: 32px;

    h1 {
      color: #f63542;
      font-size: 64px;
      font-style: italic;
      margin: 30px auto 30px auto;
    }

    &__desc__main {
      line-height: 60px;
      width: 100%;
      display: inline-block;
      span {
        color: $primarycolor;
        font-size: 48px;
        font-style: italic;
      }
    }

    &__desc__secondary {
      line-height: 60px;
      width: 100%;
      display: inline-block;
      margin-top: 30px;
      span {
        color: $primarycolor;
        font-size: 48px;
        font-style: italic;
      }
    }
  }

  &__footer {
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    padding: 20px 30px;
    height: auto;
    background-color: #272727;
    text-align: center;

    &__contact {
      a {
        display: inline-block;
        color: $primarycolor;
      }
    }
  }
}
