@import "../../utils/variables.scss";
@import "../../utils/include-media.scss";

.about-page {
  width: 100%;
  min-height: 82vh;
  position: relative;

  &__container {
    width: 80%;
    margin: auto;
    padding: 10px;
    font-size: 32px;

    @include media("<=phone") {
      width: 90%;
      padding: 10px;
    }

    &__header {
      h1 {
        color: $primarycolor;
        font-size: 48px;
        font-style: italic;
        margin: 30px auto 30px auto;

        @include media("<=phone") {
          font-size: 24px;
          margin: 10px auto 10px auto;
        }
      }

      &__main {
        font-size: 20px;

        span {
          color: $primarycolor;
        }

        @include media("<=phone") {
          font-size: 14px;
        }
      }

      &__secondary {
        font-size: 20px;

        span {
          color: $primarycolor;
        }
        @include media("<=phone") {
          font-size: 14px;
        }
      }
    }

    &__desc-main {
      margin: 50px 0px;
      width: 100%;
      display: inline-block;

      &__header {
        color: $primarycolor;
        margin-bottom: 50px;
      }
    }
  }
}
