@import "../../utils/include-media.scss";
@import "../../utils/variables.scss";

.lottie {
  height: 82vh;
  width: 100%;

  &__text {
    font-size: 20px;
    color: $primarycolor;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
