@import "../../utils/variables.scss";
@import "../../utils/include-media.scss";

.sign-in {
  width: 100%;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

  @include media("<=phone") {
    padding: 10px;
  }

  &__title {
    font-size: 36px;
    font-weight: 800;

    @include media("<=phone") {
      font-size: 24px;
    }
  }

  form {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 10px;

    @include media("<=phone") {
      width: 300px;
      height: 250px;
      padding: 10px;
    }

    .sign-in__email,
    .sign-in__password {
      width: 100%;
      height: 50px;
      outline: none;
      background: none;
      color: white;
      font-size: 30px;
      border-radius: 20px;
      border: 2px $primarycolor solid;
      position: relative;
      overflow: hidden;
      padding: 20px;

      @include media("<=phone") {
        font-size: 18px;
      }
    }

    .sign-in__submit {
      width: 120px;
      height: 50px;
      color: white;
      outline: none;
      text-align: center;
    }
  }

  .sign-in__google__container {
    display: flex;
    align-items: center;

    .sign-in__google__logo {
      width: 50px;
      height: 50px;
      margin: 0px 10px;
      cursor: pointer;

      @include media("<=phone") {
        width: 30px;
        height: 30px;
      }
    }
  }

  .sign-in__signup {
    padding-top: 20px;
    font-size: 18px;

    .sign-in__signup_link {
      color: $primarycolor;
    }
  }
}
