@import "../../utils/variables.scss";

.profile {
  width: 30px;
  height: 30px;

  &__logo {
    width: 100%;
    height: 100%;
    cursor: pointer;

    &__raw {
      width: 100%;
      height: 100%;
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 100;
    background-color: #333333;
    top: 8vh;
    padding: 0px 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    visibility: hidden;
    transform: translate(-100%, 0%);
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__currentuser {
      list-style: none;
    }

    &__signout {
      color: $primarycolor;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
