@import '../../utils/variables.scss';
@import '../../utils/button-animations/other.styles.scss';
@import '../../utils/include-media.scss';

.sell-page {
  min-height: 82vh;
  width: 100%;

  &__container {
    width: 80%;
    margin: 0px auto;

    &__tips {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 50px 10px;
    }

    @include media('<=phone') {
      width: 90%;
    }

    &__image {
      height: 500px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      &__raw {
        height: 100%;
        object-fit: contain;
        margin: 0px auto;
      }
    }

    &__input {
      height: 1500px;
      width: 100%;

      &__form-details {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        div:nth-child(1) {
          flex-direction: row;
          align-items: center;
        }

        &__file {
          margin: 10px 20px;
        }

        &__button {
          width: max-content;
        }

        &__input {
          margin: 10px 20px;
          width: 500px;
          height: 50px;
          background: transparent;
          border: 2px solid $primarycolor;
          border-radius: 20px;
          padding: 2px 10px;
          outline: none;
          text-align: center;
          color: #fff;
          font-size: 20px;
          transition: box-shadow 0.3s ease;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &[type='number'] {
            -moz-appearance: textfield;
          }

          &__option {
            color: #fff;
            background-color: $bgcolor;
          }

          &:focus {
            box-shadow: 0px 2px 8px -1px rgba($primarycolor, 0.9);
          }

          @include media('<=phone') {
            width: 300px;
          }

          &.description {
            height: 200px;
            text-align: inherit;
            padding: 10px;
            resize: none;
          }
        }
      }
    }
  }
}
