@import "../../utils/variables.scss";
@import "../../utils/include-media.scss";

.contact-page {
  width: 100%;
  min-height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .gmail {
    width: 50px;
    height: 50px;

    @include media("<=tablet") {
      width: 30px;
      height: 30px;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      color: $primarycolor;
      font-size: 42px;
      margin-bottom: 10px;

      @include media("<=phone") {
        font-size: 26px;
      }
    }

    &__visit {
      display: flex;
      align-items: center;
      flex-direction: column;
      &__address {
        font-size: 28px;
        padding: 10px;

        @include media("<=phone") {
          font-size: 18px;
          padding: 10px 30px;
        }
      }
    }

    &__links {
      text-align: center;
      padding: 30px 20px;
      font-size: 24px;
      font-style: italic;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      height: 100%;

      @include media("<=tablet") {
        padding: 20px 0px;
        font-size: 24px;
      }

      div {
        text-align: center;
        position: relative;

        li {
          display: flex;
          align-items: center;
          list-style: none;
          font-size: 32px;

          a {
            transition: color 300ms ease;

            &:hover {
              color: $primarycolor;
            }
          }

          @include media("<=tablet") {
            font-size: 18px;
          }

          .gmail {
            margin-right: 30px;

            @include media("<=tablet") {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
