@import "../../utils/variables.scss";

.sign-up {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

  .sign-up__title {
    font-size: 36px;
    font-weight: 800;
  }

  form {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10px;

    .sign-up__email,
    .sign-up__password,
    .sign-up__dname {
      width: 100%;
      height: 50px;
      outline: none;
      background: none;
      color: white;
      font-size: 30px;
      border-radius: 20px;
      border: 2px $primarycolor solid;
      position: relative;
      overflow: hidden;
      padding: 20px;
    }

    .sign-up__submit {
      width: 130px;
      height: 50px;
      color: white;
      outline: none;
      text-align: center;
    }
  }

  .sign-up__signin {
    font-size: 18px;

    .sign-up__signin_link {
      color: $primarycolor;
    }
  }
}
