@import "../../utils/variables.scss";

.shop-page {
  width: 100%;
  height: 92vh;

  &__header-bar {
    width: 80%;
    margin: 0px auto;
    height: 6%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__sell {
      font-size: 28px;
      color: $primarycolor;
      font-style: italic;
      cursor: pointer;
    }
  }

  &__body {
    width: 80%;
    padding: 50px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    margin: 0px auto;
    row-gap: 40px;
  }
}
