@import "../../utils/variables.scss";
@import "../../utils/include-media.scss";

.shop-collections {
  width: 100%;
  min-height: 82vh;

  &__header-bar {
    width: 80%;
    margin: 0px auto;
    height: 6%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 40px;

    @include media("<=phone") {
      width: 90%;
      flex-direction: column;
      align-items: flex-start;
    }

    &__sell {
      font-size: 28px;
      color: $primarycolor;
      font-style: italic;
      cursor: pointer;

      @include media("<=phone") {
        font-size: 18px;
      }
    }
  }

  &__body {
    width: 80%;
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    margin: 0px auto;
    row-gap: 40px;
    column-gap: 40px;
    justify-content: center;

    @include media("<=phone") {
      width: 90%;
    }
  }
}
