@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "../../utils/variables.scss";

.collection {
  width: 80%;
  min-height: 92vh;
  display: flex;
  margin: auto;
  position: relative;

  &__img {
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    .alice-carousel {
      // padding: 20px;
      width: 100%;
      height: 100%;
      filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.9));
      overflow: hidden;

      &:hover {
        .alice-carousel__stage-item {
          transform: rotate3d(0, 0, 0, 0deg) scale(1);
        }
      }

      &__stage-item {
        filter: drop-shadow(-30px 30px 10px rgba(0, 0, 0, 0.9));
        transform: rotate3d(1, 0.5, -0.5, 50deg) scale(0.7);
        transition: all 2s ease;
      }

      &__prev-btn-item,
      &__next-btn-item {
        border: 2px solid $primarycolor;
        padding: 10px 20px;
        border-radius: 20px;
        transition: all 0.5s ease-in;
        font-size: 20px;
        color: white;
        opacity: 0;
        &:hover {
          background-color: $primarycolor;
        }
      }
    }
    // overflow: hidden;
    &__raw {
      height: 500px;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  &__details {
    width: 50%;
    height: 100%;
    padding: 20px;

    &__header {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__h1 {
        font-size: 62px;
        position: relative;
        transition: 0.5s ease;

        &:hover {
          &::after {
            height: 50%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          width: 105%;
          height: 20px;
          bottom: 0;
          left: 0;
          background-color: $primarycolor;
          opacity: 0.8;
          transition: 0.5s ease;
          border-radius: 2px;
        }
      }
    }

    &__body {
      width: 100%;

      &__model,
      &__price,
      &__desc {
        width: 100%;
        font-size: 32px;
        padding: 20px 0px;
        font-style: italic;
      }

      &__desc {
        font-size: 26px;
      }
    }
  }

  &__footer {
    width: 80%;
    height: 100px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0%;
    padding: 0px 100px;

    &__back {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.5s ease;

      &:hover {
        color: $primarycolor;
        filter: drop-shadow(10px -10px 5px rgba(0, 0, 0, 0.9));
      }

      &-arrow {
        width: 20px;
        height: 20px;
      }
    }

    &__contact {
      width: 150px;
      height: 100px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.5s ease;

      &:hover {
        color: $primarycolor;
        font-style: italic;
        filter: drop-shadow(-10px -10px 5px rgba(0, 0, 0, 0.9));
      }

      &-us {
        width: 50px;
        height: 50px;
      }
    }
  }
}
